body {
  background: url("./Assets/tandyhourPurp.gif") repeat;
  /* -webkit-animation: scrolling 5s linear infinite; */
  /* -moz-animation: scrolling 5s linear infinite; */
  /* -o-animation: scrolling 5s linear infinite; */
  animation: scrolling 5s linear infinite;
  font-family: "Chakra Petch", sans-serif;
}
@-webkit-keyframes scrolling {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 0 100%;
  }
}
