body {
  background-color: #ffe3f7;
  background-image: url("tile4.jpeg");
}

li {
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

@keyframes rainbow {
  0% {
    background-color: red;
    border-color: green;
  }

  25% {
    background-color: yellow;
    border-color: blue;
  }

  50% {
    background-color: green;
    border-color: red;
  }

  75% {
    background-color: blue;
    border-color: yellow;
  }

  100% {
    background-color: red;
    border-color: yellow;
  }
}

@keyframes rainbow-text {
  0% {
    color: red;
    border-color: green;
  }

  25% {
    color: yellow;
    border-color: blue;
  }

  50% {
    color: green;
    border-color: red;
  }

  75% {
    color: blue;
    border-color: yellow;
  }

  100% {
    color: red;
    border-color: yellow;
  }
}

.logo-shader-container {
  display: flex;
  justify-content: center;
}

.logo-shader {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.line-draw {
  border: .5px solid #FF00FF;
  background-color: purple;
  height: .8px;
  visibility: hidden;
  align-self: center;
  margin-left: 7px;
  width: 0px;
  transition: width .1s ease-out, visibility .1s linear;
  animation: rainbow 1.5s linear infinite alternate;
}

.active-album .line-draw {
  width: 80vw;
  visibility: visible;
  transition: width .5s ease-out;
}

.img-container {
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 20px;
  margin-left: 30vw;
  margin-top: 30px;
  visibility: hidden;
}

.active-album .img-container {
  visibility: visible;
  transition: visibility .1s linear;
  transition-delay: .1s;
}

.img-container img {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.img-container .overlay {
  background-color: #ffe3f7;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 400px;
  width: 400px;
  z-index: 100;
  align-self: end;
  transition: height .1s ease-out;
}

.active-album .overlay {
  height: 0px;
  transition: height .75s ease-out;
  transition-delay: .5s;
}

.album-info-section {
  margin-left: -400px;
}

.active-album .album-info-section {
  margin-left: 0;
  transition: margin-left .5s ease-out;
  transition-delay: 1s;
}

@keyframes subtext {
  0% {
    opacity: 0%;
    /* font-size: xx-small; */
  }

  100% {
    opacity: 100%;
    /* font-size: large; */
  }
}

.catalog-number:hover, .catalog-number:focus, .catalog-number:active {
  /* background-color: #FF00FF; */
  text-decoration: underline overline wavy #FF3028;
  cursor: pointer;
  /* background-color: black; */
  /* color: white; */
  /* padding: 10px; */
  border-radius: 10px;
  vertical-align: middle;
  text-underline-offset: 3px;
}

.catalog-number,
.album-name {
  width: fit-content;
  margin: 2px;
}

.catalog-number {
  padding: 5px;
}

.catalog-number:hover+.album-name, .catalog-number:focus+.album-name,
.active-album .album-name {
  visibility: visible;
  animation: subtext .3s ease-out;
}

.album-name {
  visibility: hidden;
  font-size: large;
}

.release-list-text {
  font-size: x-large;
  margin-bottom: 15px;
}

.release-list-text p {
  margin: 0;
}

.home {
  float: right;
  margin: 0% 90% 0% 90%;
  position: absolute;
}