:root {
  --radius-position: top left;
  --linear-deg: 0deg;
}

@font-face {
  font-family: TandyOS;
  src: url('./Assets/TandyOS.ttf');
}

body {
  /* font-family: "Chakra Petch", sans-serif; */
  font-family: "TandyOS";
  background: url("./Assets/tandyhour.gif") repeat;
  /* -webkit-animation: scrolling 5s linear infinite; */
  /* -moz-animation: scrolling 5s linear infinite; */
  /* -o-animation: scrolling 5s linear infinite; */
  animation: scrolling 5s linear infinite;
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}

html {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

#catalog-container {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}

@-webkit-keyframes scrolling {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 0 332px;
  }
}

li {
  display: flex;
}

@keyframes rainbow {
  0% {
    background-color: red;
    border-color: green;
  }

  25% {
    background-color: yellow;
    border-color: blue;
  }

  50% {
    background-color: green;
    border-color: red;
  }

  75% {
    background-color: blue;
    border-color: yellow;
  }

  100% {
    background-color: red;
    border-color: yellow;
  }
}

@keyframes rainbow-text {
  0% {
    color: white;
    background-color: green;
  }

  25% {
    color: white;
    background-color: blue;
  }

  45% {
    color: white;
  }

  50% {
    color: black;
    background-color: red;
  }

  75% {
    color: black;
    background-color: yellow;
  }

  85% {
    color: black
  }

  100% {
    color: white;
    background-color: green;
  }
}

.logo-shader-container {
  display: flex;
  justify-content: center;
}

.logo-shader {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.line-draw {
  border: .5px solid #FF00FF;
  background-color: purple;
  height: .8px;
  visibility: hidden;
  align-self: center;
  margin-left: 7px;
  width: 0px;
  transition: width .1s ease-out, visibility .1s linear;
  animation: rainbow 1.5s linear infinite alternate;
  margin-top: -15px;
}

.active-album .line-draw {
  width: 80vw;
  visibility: visible;
  transition: width .5s ease-out;
}

.album-expansion {
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 20px;
  margin-left: 30vw;
  margin-top: 30px;
  visibility: hidden;
}

@property --x {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes gradient-shine {
  0% {
    --x: 0deg;
  }

  100% {
    --x: 359deg;
  }
}


@keyframes radial-shine {
  0% {
    --radial-position: top left;
  }

  25% {
    --radial-position: bottom left;
  }

  50% {
    --radial-position: bottom right;
  }

  75% {
    --radial-position: top right;
  }

  100% {
    --radial-position: top left;
  }
}

.list-column {
  background-color: rgba(9,0,129,255);
 position: absolute;
  width: 330px;
  z-index: -1;
  height: 100%;
  top: 0;
}

@keyframes image-scroll {
  0% {
    height: 0px;
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    height: 400px;
    overflow: visible;
  }
}

.img-container {
  height: 0px;
}

.active-album .album-expansion {
  visibility: visible;
  transition: visibility .1s linear;
  transition-delay: .5s;
}

.active-album .img-container {
  animation: image-scroll .7s ease-out .5s;
  position: relative;
  height: 400px;
  overflow: visible;
}

.img-container img {
  width: 400px;
  height: 400px;
  z-index: 1;
  position: absolute;
}

.album-info-section {
  margin-left: -400px;
  visibility: hidden;
  width: 0;
  height: 0;
}


.album-copy, .album-credits {
  opacity: 0;
}

.active-album .album-copy, .active-album .album-credits {
  opacity: 1;
  display: block;
  transition: opacity .3s linear 1.5s;
}

.active-album .album-info-section {
  margin-left: -20;
  position: relative;
  width: 100%;
  height: 394px;
  max-height: 394px;
  visibility: visible;
  transition: margin-left .5s ease-out, visibility .1s linear, width .4s ease-out, height .1s linear;
  transition-delay: 1.2s;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px blue dotted;
  background-color: rgba(255, 255, 255, .5);
}

strong {
  font-weight: 600;
}

.album-credits {
  font-size: small;
}

.links a {
  background: red;
  color: white;
  border: 3px outset gray;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: small;
  padding: 2px 5px 2px 5px;
  margin-right: 3px;
}

.links a:active {
  border: 3px inset gray;
}

.links {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 30px;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  height: 6%;
}

.links .bc {
  color: white;
  background-color: teal;
}

.links .in {
  color: black;
  background-color: greenyellow;
}

.links .spotify {
  color: black;
  background-color: cyan;
}

.links .yt {
  color: white;
  background-color: red;
}

.active-album .album-info-section.blue {
  border-color: blue;
}

.active-album .album-info-section.green {
  border-color: green;
}

.active-album .album-info-section.purple {
  border-color: blueviolet;
}

@keyframes subtext {
  0% {
    opacity: 0%;
    /* font-size: xx-small; */
  }

  100% {
    opacity: 100%;
    /* font-size: large; */
  }
}

.catalog-number:hover,
.catalog-number:focus,
.catalog-number:active,
.active-album .catalog-number {
  /* background-color: #FF00FF; */
  /* text-decoration: underline overline wavy #FF3028; */
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 3px;
  vertical-align: middle;
}

.active-album .catalog-number {
  /* background-color: #FF00FF; */
  /* text-decoration: underline overline wavy #FF3028; */
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 3px;
  vertical-align: middle;
  animation: rainbow-text 10s linear infinite;
}

.catalog-number,
.album-name {
  width: fit-content;
  margin: 2px;
}

.catalog-number {
  padding: 9px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: yellow;
  font-size: large;
}

.background-div {
 background-color: rgb(9,0,129);
  opacity: 90%;
  z-index: -2;
}
.title {
  white-space: nowrap;
  margin-bottom: 6px;
}

.artist-name {
  margin-top: 0px;
  font-style: italic;
}

.release-list-text {
  /* font-size: x-large; */
  margin-bottom: 20px;
}

.release-list-text p {
  margin: 0;
}

.home {
  float: right;
  margin: 0% 90% 0% 90%;
  position: absolute;
}