



div.title{
  padding: 30px;
  text-align: center;
}

div.bg{
  background-color: #cccccc;
  padding: 30px;

}

div.content {
  padding: 30px;
  text-align: center;
  opacity: 100%;
  filter: blur(1px);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:10%;
}

body{
    background: url("tandyhour.gif") repeat;
    backdrop-filter: hue-rotate(120deg);
    opacity: 50%;
    /* filter: blur(1px); */

    /* -webkit-animation: scrolling 5s linear infinite; */
    /* -moz-animation: scrolling 5s linear infinite; */
    /* -o-animation: scrolling 5s linear infinite; */
    animation: hueAnim 10s linear infinite;
}


@-webkit-keyframes hueAnim {
  0% {backdrop-filter: hue-rotate(0deg);
    background-position: 0 0;
}

   100% {backdrop-filter: hue-rotate(360deg);
     background-position: -100% 0%;

   }
}
