div.title {
  padding: 5px;
  text-align: center;
}

div.bg {
  background-color: #cccccc;
  padding: 30px;
  opacity: 75%;
  width: 25%;
  margin: auto;
  border: double;
}

div.content {
  padding: 10px;
  text-align: center;
  opacity: 100%;
  filter: blur(1px);
  animation: blur 10s linear infinite;
}

@-webkit-keyframes blur {
  0% {
    filter: blur(0px);
  }

  50% {
    filter: blur(1px);

  }

  100% {
    filter: blur(0px);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  overflow: hidden;
}

.metal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
  background: url("./Assets/tandyhour.gif") repeat;
  backdrop-filter: hue-rotate(120deg);
  opacity: 100%;
  margin: 0px;
  /* filter: blur(1px); */

  /* -webkit-animation: scrolling 5s linear infinite; */
  /* -moz-animation: scrolling 5s linear infinite; */
  /* -o-animation: scrolling 5s linear infinite; */
  animation: hueAnim 10s linear infinite;
}


@-webkit-keyframes hueAnim {
  0% {
    backdrop-filter: hue-rotate(0deg);
    background-position: 0 0;
  }

  100% {
    backdrop-filter: hue-rotate(360deg);
    background-position: -600px 0;

  }
}


@keyframes bar-animation {
  0% {
    transform: translateX(-60vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hg-animation {
  0% {
    transform: translateX(80vw) rotate(0deg) scale(.1);
  }

  55% {
    transform: translateX(-3.5vw) rotate(1485deg) scale(1);
  }

  70% {
    transform: translateX(1vw) translateY(-.5vw) rotate(1420deg) scale(1);
  }

  85% {
    transform: translateX(-.2vw) rotate(1445deg) scale(1);
  }

  100% {
    transform: translateX(0) rotate(1440deg) scale(1);
  }

}

@keyframes t-animation {
  0% {
    transform: translateX(-80vw)translateY(-80vw);
  }

  100% {
    transform: translateX(0)translateY(0);
  }
}

@keyframes c-animation {
  0% {
    transform: translateX(80vw)translateY(80vw);
  }

  100% {
    transform: translateX(0)translateY(0);
  }
}

/* @keyframes sparkles-animation {
  0% {scale:0;}
  100% {scale:1;}
} */

@keyframes sparkle-a {

  /* syntax = rotate (degrees, xOrigin, yOrigin) */
  0% {
    transform: rotate(0deg) scale(0);
  }

  75% {
    transform: rotate(0deg) scale(0);
  }

  85% {
    transform: rotate(340deg) scale(1.5);
  }

  100% {
    transform: rotate(365deg) scale(1.5);
  }
}

@keyframes sparkle-b {

  /* syntax = rotate (degrees, xOrigin, yOrigin) */
  0% {
    transform: rotate(0deg) scale(0);
  }

  75% {
    transform: rotate(0deg) scale(0);
  }

  85% {
    transform: rotate(15deg) scale(2);
  }

  100% {
    transform: rotate(20deg) scale(1.5);
  }
}

@keyframes sparkle-c {

  /* syntax = rotate (degrees, xOrigin, yOrigin) */
  0% {
    transform: rotate(0deg) scale(0);
  }

  75% {
    transform: rotate(0deg) scale(0);
  }

  85% {
    transform: rotate(0deg) scale(1.5);
  }

  100% {
    transform: rotate(0deg) scale(1.5);
  }
}


.bars {
  animation-name: bar-animation;
  animation-timing-function: linear;
  fill: white;
}


.bars:nth-child(1) {
  animation-duration: 1.8s;
}

.bars:nth-child(2) {
  animation-duration: 1.9s;
}


.bars:nth-child(3) {
  animation-duration: 2s;
}

.bars:nth-child(4) {
  animation-duration: 2.1s;
}

.bars:nth-child(5) {
  animation-duration: 2.6s;
}

.bars:nth-child(6) {
  animation-duration: 2.2s;
}

.bars:nth-child(7) {
  animation-duration: 2.3s;
}

.bars:nth-child(8) {
  animation-duration: 2s;
}


.hourglass {
  animation: hg-animation 4s cubic-bezier(0, 0, .36, 1);
  animation-delay: 0s;
  transform-origin: center;
  fill: black;
  stroke: white;
}

.t {
  animation: t-animation 3.5s ease-out;
  stroke: white;
  stroke-width: 6px;

}

.c {
  animation: c-animation 3.5s ease-out;
  stroke: white;
  stroke-width: 6px;
  fill: none;
}

.sparkleA {
  /* transform: scale(2.5); */
  animation: sparkle-a 4s ease-in-out forwards;

  /* RIGHT ON ORGIINAL
  transform-origin: 720px 345px; */
  transform-origin: 720px 345px;
  fill: #FFFF00;
  stroke: #FFFFFF;
  stroke-width: .1px;

}

.sparkleB {
  /* transform: scale(2.5); */
  animation: sparkle-b 4.5s ease-in-out forwards;
  /* RIGHT ON ORGIINAL
  transform-origin: 720px 345px; */
  transform-origin: 720px 345px;
  fill: #FFFF00;
  stroke: #FFFFFF;
  stroke-width: .1px;

}


.sparkleC {
  /* transform: scale(2.5); */
  animation: sparkle-c 4.7s ease-in-out forwards;
  /* RIGHT ON ORGIINAL
      transform-origin: 720px 345px; */
  transform-origin: 720px 345px;
  fill: #FFFF00;
  stroke: #FFFFFF;
  stroke-width: .1px;

}


@keyframes fade {

  0%,
  65% {
    opacity: 1;
    z-index: 100;
  }

  65%,
  99% {
    z-index: 100;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* The hourglass was flashing in the wrong spot before animating.
    this might be fixable by adjusting the actual inline svg animation path, but this is easier for now */
@keyframes prevent-flash {

  0%,
  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.loaderWrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  animation: fade 5.5s linear;
}

.splash {
  animation: prevent-flash .2s linear;
}

.home {
  float: right;
  margin: 0% 10% 0% 10%;
}