@-webkit-keyframes scrolling-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 332px;
    }
}

@font-face {
    font-family: TandyOS;
    src: url('./Assets/TandyOS.ttf');
}

body {
    background: url("./Assets/tandyhourPurp.gif") repeat;
    -webkit-animation: scrolling-background 5s linear infinite;
    -moz-animation: scrolling-background 5s linear infinite;
    -o-animation: scrolling-background 5s linear infinite;
    animation: scrolling-background 5s linear infinite;
}

@keyframes webring-fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#tandyWebring {
    display: block;
    max-width: 600px;
    margin: 1rem auto;
    animation: webring-fade 2s linear;
}

.center-items {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main-button {
    font-family: "TandyOS";
    position: relative;
    background-image: url("./Assets/BlankButtonShort.png");
    background-repeat: no-repeat;
    width: 294px;
    /* width: fit-content; */
    margin: 0 auto;
    height: 62px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;

}

.main-button:active {
    background-image: url("./Assets/BlankButtonShortClicked.png");
}

.main-button img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-right: 18px;
}

.main-button h1 {
    cursor: pointer;
    /* margin-right: 25px; */
    text-align: center;
}

.main-button:active>* {
    transform: scale(.98) translate(3px, 2px);
}

.banner {
    margin-top: 12vh;
    margin-bottom: -25px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
}

.social-link {
    /* padding: 5px 10px; */
}

button.bc {
    background-color: rgb(9, 131, 74);
    color: white;
}

button.in {
    background-color: pink;
}

button.tw {
    background-color: rgb(38, 230, 230);
}

button.yt {
    background-color: rgb(223, 43, 43);
    color: white;
}

@media only screen and (max-width: 1000px) {
    .banner {
        width: 100%;
    }



    .popup {
        display: none;
    }
}