body {
    background: url("../../Assets/tandyhour.gif") repeat;
    animation: scrolling 5s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
}

html {
    height: 100vh;
    width: 100vw;
}

:root {
    cursor: url(./triforce.png), auto;
}

button.play {
    cursor: url(./Help.cur), auto;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: url(./Help.cur), auto;
    color: black;
    position: absolute;
}

svg {
    position: absolute;
    cursor: url(./triforce.png), auto;
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 332px;
    }
}


@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(359deg);
    }
}

@keyframes rotationZ {
    from {
        transform: rotateZ(0deg) translate(-50%, -50%);
        transform-origin: 0px 0px;
    }

    to {
        transform: rotateZ(359deg) translate(-50%, -50%);
        transform-origin: 0px 0px;
    }
}

@keyframes squigglevision {
    0% {
        filter: url("#turbulence-1");
    }

    25% {
        filter: url("#turbulence-2");
    }

    50% {
        filter: url("#turbulence-3");
    }

    75% {
        filter: url("#turbulence-4");
    }

    100% {
        filter: url("#turbulence-5");
    }
}

@keyframes squigglevisionHeavy {
    0% {
        filter: url("#turbulence-6");
    }

    25% {
        filter: url("#turbulence-7");
    }

    50% {
        filter: url("#turbulence-8");
    }

    75% {
        filter: url("#turbulence-9");
    }

    100% {
        filter: url("#turbulence-10");
    }
}

:root {
    --width: 350px;
    --height: 350px;
    --depth: 30px;
    --border-width: 0px;
}

.scene {
    perspective: 1000px;
    width: var(--width);
    height: var(--height);
    overflow: visible;
}

.tiny-container {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    /* opacity: .2; */
    transform: translate(-45%, -50%);
}

.scene.small {
    width: calc(var(--width) / 8);
    height: calc(var(--height) / 8);
    overflow: visible;
}

.scene.main {
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    overflow: visible;
}

@font-face {
    font-family: TandyOS;
    src: url('../../Assets/TandyOS.ttf');
}

.cube_face {
    position: absolute;
    overflow: visible;
    color: black;
    white-space: nowrap;
    font-size: 16pt;
    text-align: left;
    /* font-family: TandyOS; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: .9; */
    border: black double 2px;
    background-color: rgb(255, 251, 122);
}

.cube_face.front {
    width: var(--width);
    height: var(--height);
    transform: translate3d(0, 0, calc(var(--depth) / 2));
    background-image: url("../../Assets/Centre Street/anotherDayCover.jpg");
    background-size: cover;
}

.cube_face.right {
    width: var(--depth);
    height: var(--height);
    transform: rotateY(90deg) translate3d(0, 0, calc(var(--width) - var(--depth) / 2));
}

.cube_face.left {
    width: var(--depth);
    height: var(--height);
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--depth) / 2));
}

.cube_face.left p {
    transform: rotateZ(90deg);
}

.cube_face.top {
    height: var(--depth);
    width: var(--width);
    transform: rotateX(90deg) translate3d(0, 0, calc(var(--depth) / 2));
}

.cube_face.bottom {
    height: var(--depth);
    width: var(--width);
    transform: rotateX(-90deg) translate3d(0, 0, calc(var(--width) - var(--depth) / 2));
}

.cube_face.back {
    transform: rotateY(180deg) translate3d(0, 0, calc(var(--depth) / 2));
    width: var(--width);
    background-image: url("../../Assets/Centre Street/anotherDayCover.jpg");
    height: var(--height);
}

.scene.small .cube_face.back {
    background-image: url("../../Assets/PCoTandyLogo.png");
    background-size: cover;
    background-blend-mode: difference;

}



.scene.small .cube {
    transform-style: preserve-3d;
    position: relative;
    animation: rotation 2s linear infinite;
}

.scene.small .cube_face.front {
    width: calc(var(--width) / 8);
    height: calc(var(--height) / 8);
    transform: translate3d(0, 0, calc(var(--depth) / 16));
    background-image: url("../../Assets/Centre Street/anotherDayCover.jpg");
    background-size: cover;
}

.scene.small .cube_face.right {
    width: calc(var(--depth) / 8);
    height: calc(var(--height) / 8);
    transform: rotateY(90deg) translate3d(0, 0, calc(var(--width) / 8));
}

.scene.small .cube_face.left {
    width: calc(var(--depth) / 8);
    height: calc(var(--height) / 8);
    transform: rotateY(-90deg) translate3d(0, 0, calc(var(--depth) / 8));
}

.scene.small .cube_face.left p {
    transform: rotateZ(90deg);
    font-size: 1px;
}

.scene.small .cube_face.top {
    height: calc(var(--depth) / 8);
    width: calc(var(--width) / 8);
    transform: rotateX(90deg) translate3d(0, 0, calc(var(--depth) / 8));
}

.scene.small .cube_face.bottom {
    height: calc(var(--depth) / 8);
    width: calc(var(--width) / 8);
    transform: rotateX(-90deg) translate3d(0, 0, calc(var(--width) / 8));
}

.scene.small .cube_face.back {
    transform: rotateY(180deg) translate3d(0, 0, calc(var(--depth) / 16));
    width: calc(var(--width) / 8);
    height: calc(var(--height) / 8);
}

@keyframes rainbowHue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(359deg);
    }
}

button {
    font-family: "TandyOS";
    position: relative;
    background-image: url("../../Assets/BlankButtonShort.png");
    background-repeat: no-repeat;
    width: 294px;
    margin: 0 auto;
    height: 62px;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    font-size: 11pt;
    justify-content: center;
    /* cursor: url(./Help.cur), auto; */
    border: none;
    text-align: center;
}

button:active {
    background-image: url("../../Assets/BlankButtonShortClicked.png");
}

button:active>* {
    transform: scale(.98) translate(3px, 2px);
}

footer {
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-start;
    transform: translateY(90px);
    transition: transform .5s ease-out;
    /* display: none; */
}

footer.show {
    transform: translateX(-50%) translateY(0px);
    transition: transform .5s ease-out;
    /* display: block; */
}

footer p {
    margin: 0;
}

button.info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 20pt;
    color: white;
    background-image: none;
    background-color: transparent;
}

a {
    font-size: 20pt;
    margin-top: 5px;
    font-family: TandyOS;
}

body {
    overflow: hidden;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    .scene.main.scene.main {
        padding: 0px;
    }

    html,
    body {
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    body {
        margin: 0;
    }

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.75);
        /* margin-top: -50px; */
    }

    .info {
        display: none;
    }

    footer {
        transform: none;
        background: lightgray;
        width: 100%;
        justify-content: center;
        border-top: ridge 5px gray;
        padding-top: 10px;
        left: unset;
        padding-bottom: 10px;
        opacity: 0;
    }

    footer.show {
        opacity: 1;
        transition: opacity 2.5s ease;
        transform: none;
    }
}