body {
    margin: 0;
}

button {
    background: none;
    border: none;
    width: 30%;
    cursor: pointer;
    filter: url("#disFilter")
}

svg {
    visibility: hidden;
    position: absolute;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 4, 4, 0.805);
}

button img {
    width: 100%;
}

html {
    background-image: url("./assets/3.jpeg");
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* canvas {
    animation: fade 1s backwards linear;
    animation-delay: .7s;
} */

audio {
    display: none;
}