.medium {
	font-size: 12px;
	line-height: 14px;
}
.small {  font-size: 10px; line-height: 13px}

/*
     FILE ARCHIVED ON 12:45:43 Feb 06, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:12:49 Sep 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 99.845
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.055
  cdx.remote: 0.054
  esindex: 0.011
  LoadShardBlock: 72.085 (3)
  PetaboxLoader3.datanode: 86.561 (4)
  load_resource: 92.898
  PetaboxLoader3.resolve: 46.905
*/