.medium {
	font-size: 12px;
	line-height: 14px;
}
.small {  font-size: 10px; line-height: 13px}

body {
  background: url("../../../Assets/tandyhour.gif") repeat;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  width: fit-content;
  margin: 0 auto;
}

/*
     FILE ARCHIVED ON 13:44:53 Nov 03, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:48:57 Sep 20, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 429.266
  exclusion.robots: 0.11
  exclusion.robots.policy: 0.099
  cdx.remote: 0.074
  esindex: 0.012
  LoadShardBlock: 299.786 (3)
  PetaboxLoader3.datanode: 224.888 (5)
  load_resource: 357.049 (2)
  PetaboxLoader3.resolve: 249.502 (2)
*/