html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(133, 133, 133);
    /* background-image: url('./index_files/ENVE.GIF'); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* cursor: none; */
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

canvas {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    pointer-events: none;
}

#mainPlayer {
    display: none;
}

.logos {
    width: fit-content;
    margin: 0 auto;
    opacity: 0.85;
    filter: blur(.4px);
    z-index: 99;
}

#browse {
    margin: 0 auto;
    width: fit-content;
    border: 3px inset gray;
    padding: 10px;
    background: lightgray;
    color: black;
}

h1 {
    text-align: center;
}

#dialog {
    color: white;
    max-width: 600px;
    background-color: rgba(0, 128, 11, 0.506);
    border: 5px ridge green;
    transition: all 0.5s ease;
}

#dialog.close {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
}

#logoCenter {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -20%) scale(0.5);
    top: 50%;
    left: 50%;
    width: 25%;
    transition: all 2s ease;
}

#logoCenter.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 2s ease;
}

#textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: rgba(0, 128, 11, 0.785);
    border: 5px ridge green;
    color: white;
    pointer-events: none;
    font-size: 32pt;
    text-align: center;
    text-wrap: wrap;
    animation: fadein 1s linear forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/* #textContainer.show {
    opacity: 1;
    transition: all 2s ease;
} */

#textContainer.hide {
    animation: fadein 1s linear reverse forwards;
}